<div class="navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="btn btn-info-gradiant font-14" routerLink="/" >
                <!-- <a class="nav-link" routerLink="/"  style="color: #ff6a5b"> -->
              Accueil
            </a>
        </li>
        <!-- <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about" style="color: rgba(9, 0, 72, 0.8)">
                A propos de nous
            </a>
        </li> -->
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="btn btn-danger-gradiant font-14" target="_blank"  routerLink="/reservation">
                Réserver en ligne
            </a>
        </li>
    </ul>

</div>