<div class="static-slider-head" style="background-image: url(assets/images/landingpage/IMG_0587.JPG)">
  <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
    <br> <br>
    <h1 class="title" style="color: rgba(9, 0, 72, 0.8)">JePromèneVotreChien.com</h1>
    <h5 class="subtitle">
      Vous avez un gros toutoune qui est plein d'énergie à revendre et vous ne pouvez
      pas lui offrir l'activité dont il aurait besoin ? On se charge de tout !
    </h5>
  </div>
</div>
<div class="spacer">
  <div class="text-center">
    <a class="btn btn-danger-gradiant font-14" target="_blank" routerLink="/reservation">
      Réserver en ligne
    </a>
  </div>
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-9 text-center no-trans">
        <h2 class="title">
          Nous sommes doués d'une grande expérience en Dog's Coaching
        </h2>
        <h6 class="subtitle">
          Par "coaching" nous n'entendons pas éduquer votre chien, mais simplement lui offrir un moment de plaisir et de
          défoulement qui lui permettra d'être plus calme et serein le reste du temps. <br><br>
          Pationnés de trail et de randonnée, c'est aussi un bonheur de partager ces moments avec nos amis les
          animaux.
        </h6>
        <!-- <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          href="#"
          ><span>View Details <i class="ti-arrow-right"></i></span
        ></a> -->
        <br>
        <h4>Ils pourront en témoigner :</h4>
        <img src="assets/images/blog/IMG_5503.JPG" width="80%" />
        <h2>Crunch</h2>
        <br> <br>
        <img src="assets/images/blog/IMG-1442.jpg" width="80%" />
        <h2>Yové</h2>
        <br><br>
        <img src="assets/images/blog/20200313_171712.jpg" width="80%" />
        <h2>Tao</h2>
        <br> <br>
        <img src="assets/images/blog/IMG_5498.JPG" width="80%" />
        <h2>Luna</h2>
        <br> <br>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-danger-gradiant font-14" target="_blank" routerLink="/reservation">
      Réserver en ligne
    </a>
  </div>
</div>