<div class="banner-innerpage" style="background-image: url(assets/images/landingpage/IMG_4235.JPG)">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Réservation</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Renseignez les quelques informations suivantes.</h2>
        <h6 class="subtitle">
          Vous recevrez ensuite une confirmation par mail.
        </h6>
      </div>
    </div>
    <app-relay-on></app-relay-on>
  </div>
</div>
<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Comment ça marche ?
        </h2>
        <h6 class="subtitle">
          A l'issue de sa première séance, une évaluation du niveau d'entrainement de votre chien est dressée. Cela va
          permettre de définir le volume de la séance suivante, mais surtout de mettre en place un suivi, afin de
          fournir un entrainement adapté et personnalisé. C'est important pour éviter les blessures et garder le plaisir de la pratique.
        </h6>
        <br> <br>
        <!-- <img src="assets/images/yovestrainning.JPG" width="80%" />
        <br>
        <h6>Exemple de suivi d'entrainement.</h6> -->
      </div>
    </div>
  </div>
</div>